<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1.0, user-scalable=1">
<meta name="author" content="Alex Johnstone">
<meta property="og:type" content="website" />
{% block extrahead %}{% endblock %}
<link rel="stylesheet" href="{{ '/static/style.css'|asseturl }}">
<link rel="shortcut icon" href="{{ '/static/favicon.png'|url }}">
<title>{% block title %}Welcome{% endblock %} — alexjj.com</title>
</head>
<body>
  <section>
      <header>
          <nav>
              <ul><a href="{{ '/'|url }}"><img src="{{ '/static/cat.png'|url }}" alt="meow" style="height:100px"></a>
              </ul>
              <ul>
                {% for href, title in bag('nav').iteritems() %}
                    <li><code><a href="{{ href|url }}">{{ title }}</a></code></li>
              {% endfor %}
            </ul>
        </nav>
    </header>
    <article>
        {% block body %}{% endblock %}
    </article>
    <footer>
      <nav>
        <ul>
          <li><small>| (• ◡•)| <a target="blank" href="https://github.com/alexjj/alexjj.com" title="Source">♥</a> (❍ᴥ❍ʋ)<small>
          </li>
        </ul>
      </nav>
    </footer>
  </section>
</body>
</html>
