<!doctype html>
<meta charset="utf-8">
<meta name="author" content="Alex Johnstone">
<link rel="stylesheet" href="{{ '/static/style.css'|url }}">
<link rel="shortcut icon" href="{{ '/static/favicon.png'|url }}">
<title>{% block title %}Welcome{% endblock %} — alexjj.com</title>
<body>
  <section>
      <header>
          <nav>
              <ul><a href="{{ '/'|url }}"><img src="{{ '/static/cat.png'|url }}" alt="meow" style="height:100px"></a>
              </ul>
              <ul>
                {% for href, title in [
                  ['/', 'Home'],
                  ['/blog', 'Blog'],
                  ['/about', 'About']
                ] %}
                    <li><code><a href="{{ href|url }}">{{ title }}</a></code></li>
              {% endfor %}
            </ul>
        </nav>
    </header>
    <article>
        {% block body %}{% endblock %}
    </article>
    <footer>
      <nav>
        <ul>
          <li><small>| (• ◡•)| <a target="blank" href="https://github.com/alexjj.com" title="Source">♥</a> (❍ᴥ❍ʋ)<small>
          </li>
        </ul>
      </nav>
    </footer>
  </section>
</body>
</html>
